html {
	padding: 10px;
}

body {
	background-color: #fff;
	font-size: 16px;
	font-family: 'Times New Roman', 'FreeSerif', 'Liberation Serif', 'Nimbus Roman No9 L', serif;
	margin: 0;
	padding: 0;
}

div.hr {
	position: relative;
	padding: 0;
	margin: 0;
	margin-top: .6em;
	margin-bottom: .6em;
	border-top: 1px solid #8080FF;
	color: #8080FF;
	background-color: #0f0;
}

div.hr p {
	position: absolute;
	top: -0.7em;
	left: -1em;
	margin: 0;
	padding: 0 2px;
	background-color: #fff;
}

.mark td {
	font-size: .8em;
}

.mark, .mark td {
	margin: 0;
	padding: 0;
}

form {
	padding-top: 1em;
	font-family: "arial", "tahoma", "verdana", sans-serif;
	font-size: .9em;
}

form fieldset p {
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
}

form label {
	font-size: 1em;
	width: 16em;
	display: block;
	text-align: right;
	float: left;
}

form div input {
	margin-left: .5em;
}

form fieldset > input {
	margin-top: 2px;
	margin-left: 2px;
}

form div {
	padding: 3px;
	background: #ddf;
	border: 2px solid white;
	margin: 2px;
}

form fieldset {
	margin-top: 20px;
	float: left;
	clear: left;
	border: 1px solid #444;
	background-color: #aaf;
	padding: .4em .6em .7em .6em;
}

fieldset legend {
	border: 1px solid #444;
	background-color: #ddf;
	padding: 2px;
	font-weight: bold;
}

#header img {
	float: left;
	margin-bottom: 20px;
}

#header h1 {
	float: left;
	padding: 17px 20px 0 20px;
	margin: 0;
}

.githubribbon img {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
}

ul {
	padding: 0;
	margin: 0;
	clear: both;
	float: left;
	padding-bottom: 2em;
}

li {
	list-style-type: none;
	position: relative;
	margin: 0;
	padding: 0;
	clear: both;
}

.currentWeekDiv {
	border-style: solid;
	border-color: #fff;
	border-width: 3px;
	margin: 0;
	padding: 0 0 0 22px;
}

.currentWeekDiv.current {
	border-width: 3px;
	border-color: #ff8;
	background-color: #ff8;
}

.fikaWeekDiv {
	position: relative;
	border-style: solid;
	border-color: #fff;
	border-width: 0px 3px 0px 24px;
	margin: 0;
	background-color: #fff;
	padding-left: 4px;
	padding-right: 38px;
}

.fikaWeekDiv.next {
	border-width: 3px 3px 3px 24px;
	border-color: #8f8;
}

ul div > img {
	position: absolute;
}

img.nextFika {
	top: 1px;
	left: -20px;
}

img.currentWeek {
	top: 5px;
	left: 5px;
}

img.currentWeek.andFikaWeek {
	top: 8px;
}

ul a {
	display: block;
	position: absolute;
	top: 0px;
}

a.movedown {
	right: 2px;
}

a.moveup {
	right: 18px;
}

a.delete {
	top: 1px;
	right: -26px;
}

ul a img {
	border: 0;
}

.week {
	display: block;
	float: left;
	margin: 0;
	width: 2.9em;
}

.header .person {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.header .week, .header .person {
	font-weight: bold;
	text-align: center;
	padding-bottom: 3px;
}
